html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
	width: 50%;
	right: 0;
	position: absolute !important;
	top: 0;
}



.restoCard {
	position: absolute;
	width: 360px;
	height: 360px;
	margin: 80px 10%;
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 0, 0, 0.84);
}

.restoCard #restoName {
	font-size: 22px;
}

.restoCard #restoRating {
	font-size: 16px;
	padding: 5px 0;
	color: rgba(0, 0, 0, 0.52);
}

.restoCard #restoAddress {
	padding: 5px 0;
	font-size: 14px;
}

.restoCard #restoTags {
	padding-bottom: 12px;
	padding-top: 5px;
}

.restoCard #restoTags span {
	background: #607D8B;
	padding: 4px 8px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 1px;
	border-radius: 20px;
	margin-right: 4px;
}

.restoCard #restoTags span.tagVeggy {
	background: #8BC34A;
}

.restoCard #restoTags span.tagCheap {
	background: #03A9F4;
}

.restoCard #restoTags span.tagTakeaway {
	background: #FFC107;
}