html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
	width: 50%;
	right: 0;
	position: absolute !important;
	top: 0;
}



.restoCard {
	position: absolute;
	width: 50%;
	height: 100%;
	padding: 80px 10%;
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 0, 0, 0.84);
	z-index: 999;
	box-sizing: border-box;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.restoCard #restoName {
	font-size: 22px;
}

.restoCard #restoRating {
	font-size: 16px;
	padding: 5px 0;
	color: rgba(0, 0, 0, 0.52);
}

.restoCard #restoAddress {
	padding: 5px 0;
	font-size: 14px;
}

.restoCard #restoTags {
	padding-bottom: 12px;
	padding-top: 5px;
}

.restoCard #restoTags span {
	background: #607D8B;
	padding: 4px 8px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 1px;
	border-radius: 20px;
	margin-right: 4px;
}

.restoCard #restoTags span.tagVeggy {
	background: #8BC34A;
}

.restoCard #restoTags span.tagCheap {
	background: #03A9F4;
}

.restoCard #restoTags span.tagTakeaway {
	background: #FFC107;
}




/* Page loader */

#pageloader {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: #fff;
    text-align: center;
    top: 0;
    left: 0;
}

#pageloader svg {
    top: 45%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 42px;
}
#pageloader .spinner {
	-webkit-animation: rotation 1.4s linear infinite;
	animation: rotation 1.4s linear infinite;
}

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
}

@keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
}

#pageloader .circle {
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-animation: turn 1.4s ease-in-out infinite;
	animation: turn 1.4s ease-in-out infinite;
}

@-webkit-keyframes turn {
	0% {
		stroke-dashoffset: 187;
	}

	50% {
		stroke-dashoffset: 46.75;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}

	100% {
		stroke-dashoffset: 187;
		-webkit-transform: rotate(450deg);
		transform: rotate(450deg);
	}
}

@keyframes turn {
	0% {
		stroke-dashoffset: 187;
	}

	50% {
		stroke-dashoffset: 46.75;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}

	100% {
		stroke-dashoffset: 187;
		-webkit-transform: rotate(450deg);
		transform: rotate(450deg);
	}
}

#pageloader svg:nth-child(1){
	stroke: rgb(158, 158, 158);
}